/* Small CSS reset */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

#crt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  position: sticky;
  top: 0%;
  background-color: #ffd22f;
  text-align: center;
  z-index: 1;
  transition: 0.5s ease;
}

#menu-toggle {
    display: none;
    background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    color: black;
    padding: 5px;
    border: none;
    font-size: 1.5em;
    width: 5rem;
    margin: 0 3rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  #menu-toggle:hover, #menu-Close:hover {
    background-color: black;
    color: white;
  }
  
  #menu-toggle:active, #menu-Close:active {
    transform: translate(0px, 5px);
    
  }

  #sidebar {
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #ffd22f;
    position: sticky;
    top: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 100;
    padding: 20px;
  }
  
  .sideTop {
    display: flex;
    flex-direction: row;
  }

  .userNameCrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .userNameCrt h2 {
    text-align: center;
  }
  
  #menu-Close {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: black;
    padding: 5px;
    border: none;
    font-size: 1.5em;
    width: 15rem;
  }
  
  .logo {
    text-align: center;
  }
  
  .sidebarLinks,
  .sidebarAdmin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0rem 1rem 0rem 2rem;
  }
  
  
  .sidebarLink {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding: 12px;
    transition: 0.1s ease-in-out;
    width: 100%;
    text-decoration: none;
    color: white;
  }
  
  .sidebarLink:hover {
    border: 3px solid white;
  }
  
  .sidebarLink:active {
    transform: translate(0px, 5px);
  }

#iconAndName {
  display: flex;
  border: 2px solid black;
}

#iconAndNameLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
}

#headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#headerLinks a,
#headerLinks a:visited,
.sidebarLinks a,
.sidebarLinks a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: solid transparent;
  transition: 0.2s ease-in-out;
}

#headerLinks a:hover,
.sidebarLinks a:hover {
  border: solid black;
}

#headerLinks a:active
.sidebarLinks a:active {
  transform: translate(0px, 5px);
}

#loginAndSignUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#login {
  transition: 0.2s ease-in-out;
}

#login:active {
  transform: translate(0px, 5px);
}

#signup {
  transition: 0.2s ease-in-out;
}

#signup:active {
  transform: translate(0px, 5px);
}

/* CONTENT */

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

#title {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  
  background-color: #ffd22f;
  background-image: url("images/titleImage.png");
  background-repeat: no-repeat;
  background-position: right;
}

#toMenu {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#toMenu h1 {
  text-align: center;
}

#toMenu a:hover {
  color: black;
  background-color: white;
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#toMenu a,
a:visited {
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 5px 15px;
  transition: 0.2s ease-in-out;
}

#toMenu a:active {
  transform: translate(0px, 5px);
}

#titleImg {
  width: 100%;
  height: 100%;
}

#titleImg img {
  height: 100%;
  width: 100%;
}

#titleItems {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#titleItemCard {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleItemCard img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
}

#titleItemCardInfo {
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
}

#titleItemCardInfo h3 {
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 4px solid #ffd22f;
}

#titleItemCardInfo p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

#menuHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menuHeader hr {
  background-color: #333333;
  height: 2px;
  width: 100px;
  border: none;
  margin-top: 10px;
}

#menuLinks {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffd22f;
}

#menuLinks p,
a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: solid transparent;
  transition: 0.2s ease-in-out;
}

#menuLinks p:hover {
  border: solid black;
  cursor: pointer;
}

#menuLinks p:active {
  transform: translate(0px, 5px);
}

.menuSection {
  width: 100%;
}

#items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#items a {
  text-decoration: none;
}

#menuItem {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 295px;
  box-shadow: 0rem 0.25rem 0.5625rem 0rem rgba(0, 0, 0, 0.15);;
  transition: 0.2s ease-in-out;
}

#menuItem:hover {
  box-shadow: rgba(255,210,47, 0.4) -5px 5px, rgba(255,219,88,0.3) -10px 10px;
}

#menuItemImg {
  width: 100%;
}

#menuItemImg img {
  width: 100%;
  height: calc(136.126px);
}

#menuItemInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#menuItemInfo h3 {
  text-transform: uppercase;
  padding: 0px 20px;
  text-align: center;
  color: black;
}

#addToCart {
  padding: 5px 30px;
  background-color: #ffd22f;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#addToCart:hover {
  background-color: #cca825;
}

#addToCart:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#addToCart img {
  width: 30px;
  height: 30px;
}

/* FOOTER */

.site-footer
{
  background-color:#26272b;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.container {
    padding: 20px 50px
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.col-sm-12.col-md-6 {
    width: 33%;
}

.col-xs-6.col-md-3 {
    width: 33%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.col-md-8.col-sm-6.col-xs-12 {
    width: 100%;
}

.copyright-text
{
    text-align: center;
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (max-width: 720px) {
 #header {
  flex-direction: row-reverse;
 }
 
  #headerLinks {
    display: none;
  }

  #menu-toggle {
    display: inline;
  }

  #title {
    display: none;
  }

  #menuLinks {
    flex-wrap: wrap;
  }

  #title img {
    width: 100%;
  }

  #titleText {
    width: auto;
  }

  #loginAndSignUp {
    flex-direction: column;
    align-items: baseline;
    gap: 0;
  }

  #login, #signup {
    width: 100%;
  }
  #login a, #signup a {
    display: inline-block;
    width: 100%;
  }

  #menuItem {
    width: 160px;
  }

  #menuItemInfo {
    padding-bottom: 5px;
  }

}
